<div class="item">
    <form method="get" action="">
        <div class="ui inverted transparent icon input">
            <input type="text" name="criteria[search][value]" placeholder="Recherche...">
            <i class="search link icon"></i>
        </div>
    </form>
</div>
