<div class="ui right floated simple dropdown item">
    Nom d'utilisateur
    <i class="dropdown icon"></i>
    <div class="menu">
        <a href="/" class="item">
            <i class="user icon"></i>
            Mon compte
        </a>
        <a href="/" id="sylius-logout-button" class="item">
            <i class="sign out icon"></i>
            Logout
        </a>
    </div>
</div>
