{#<div class="ui small basic modal" id="confirmation-modal">#}
    {#<div class="ui icon header">#}
        {#<i class="warning sign icon"></i>#}
        {#Confirmez votre action#}
    {#</div>#}
    {#<div class="content">#}
        {#<p>VOulez vous vraiment faire ce que vous voulez faire</p>#}
    {#</div>#}
    {#<div class="actions">#}
        {#<div class="ui red basic cancel inverted button">#}
            {#<i class="remove icon"></i>#}
            {#Non#}
        {#</div>#}
        {#<div class="ui green ok inverted button" id="confirmation-button">#}
            {#<i class="checkmark icon"></i>#}
            {#Oui#}
        {#</div>#}
    {#</div>#}
{#</div>#}
