{% extends 'layout.html.twig' %}
{% block content %}
    <h2>Secondary Menu</h2>
    {{ knp_menu_render('secondary') }}
    {% for b in section.blocks %}
        {{ b.body|raw }}
    {% endfor %}
    <h3>Recherche de produits</h3>
    <form action="{{ path('viweb_sylius_product_bridge_search') }}" method="get">
        <input type="text" name="term" placeholder="recherche">
        <button type="submit">Rechercher</button>
    </form>
    <h2> main menu</h2>
    {{ knp_menu_render('main') }}
{% endblock %}

