<html>
<head>
    <title>{{ section.title }}</title>
</head>
<body>
    {% render(controller('ViwebSystemBundle:FrontendUtils:buildMenu')) %}
    {% for b in section.blocks %}
        {{ b.body|raw }}
    {% endfor %}
</body>
</html>